<table border="1" cellspacing="0" cellpadding="4">
    <thead>
    <tr><th>PID</th><th>Program</th><th>User</th><th>Group</th><th>RSS (KB)</th></tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td><tt> (syste</tt></td>
        <td>root</td>
        <td>root</td>
        <td>5752</td>
    </tr>
    </tbody>
</table>